/* Light Theme */
.container.light {
    background-color: white;
    color: black;
    text-align: center;
    padding: 50px;
    min-height: 100vh;
    transition: 0.3s ease-in-out;
  }
  
  /* Dark Theme */
  .container.dark {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    min-height: 100vh;
    transition: 0.3s ease-in-out;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #008cba;
    color: white;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #005f73;
  }
  